.header {
  background: #fff;
}

.nav-bar {
  font-family: 'Canal Medium', Helvetica, Arial, sans-serif;
  background: #fff;
  font-weight: 400;
  line-height: 29.05px;
  color: #495057;
  text-align: left;
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
  display: flex;
  justify-content: space-around;
  height: 62px;
}

.nav-bar .nav-brand {
  padding: 0.4em 0;
  margin-right: 2vw;
}

.nav-bar .nav-block {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-bar .nav-block-first {
  width: 60vw;
  max-width: 500px;
  margin-right: auto;
}

.nav-bar .nav-block-last {
  width: 30vw;
  max-width: 300px;
  margin-left: auto;
  justify-content: flex-end;
}

.nav-bar .nav-item {
  margin: 0 1vw;
  border-top: 5px solid transparent;
  padding-top: 15.8833px;
}

.nav-bar .nav-item.active {
  border-top-color: #3d73d3;
}

.nav-bar .nav-item.active > .nav-link {
  color: #3d73d3;
}

.nav-bar .nav-link {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 14.3px;
  color: #495057;
  margin: 0;
  padding: 0;
}

.nav-bar .nav-link:hover {
  text-decoration: none;
  color: #495057;
}

.nav-bar .nav-form {
  margin-top: 10px;
}

.nav-bar .nav-btn {
  margin-top: -6.35px;
  padding-bottom: 4.76667px;
  padding-left: 12.7px;
  padding-right: 12.7px;
  padding-top: 6.35px;
  border-radius: 4.76667px;
  display: block;
}

.nav-bar .nav-btn {
  background: #3d73d3;
  color: #fff;
}

.nav-bar .nav-text {
  padding-top: 1.1rem;
}
