.header {
  background: #EFEBE7;
}

.nav-bar {
  font-family: 'Canal Medium', Helvetica, Arial, sans-serif;
  background: #EFEBE7;
  font-weight: 400;
  line-height: 29.05px;
  color: #000000;
  text-align: center;
  max-width: 1700px;
  margin: 0 auto;
  display: flex;

  height: 62px;
  justify-content: center;
}

.nav-bar .nav-brand {
  margin: auto;
}

.nav-bar .nav-block {
  display: flex;
  list-style: none;
  margin-right: 0;
  padding: 0;
}

.nav-bar .nav-block-first {
  width: 60vw;
  max-width: 500px;
  margin-right: auto;
}

.nav-bar .nav-block-last {
  width: 30vw;
  max-width: 300px;
  margin-left: auto;
  justify-content: flex-end;
}

.nav-bar .nav-item {
  margin: 0 1vw;
  border-top: 5px solid transparent;
  padding-top: 15.8833px;
}

.nav-bar .nav-item.active {
  border-top-color: #C2B8AE;
}

.nav-bar .nav-item.active > .nav-link {
  color: #C2B8AE;
}

.nav-bar .nav-link {
  white-space: nowrap;
  font-size: 14.3px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.nav-bar .nav-link:hover {
  text-decoration: none;
  color: #C2B8AE;
}

.nav-bar .nav-form {
  margin-top: 10px;
}

.nav-bar .nav-btn {
  margin-top: -6.35px;
  padding-bottom: 4.76667px;
  padding-left: 12.7px;
  padding-right: 12.7px;
  padding-top: 6.35px;
  border-radius: 4.76667px;
  display: block;
}

.nav-bar .nav-btn {
  background: #C2B8AE;
  color: #fff;
}

.nav-bar .nav-text {
  padding-top: 1.1rem;
}
