<?js /*
    Copyright 2011 the JSDoc Authors.

    Licensed under the Apache License, Version 2.0 (the "License");
    you may not use this file except in compliance with the License.
    You may obtain a copy of the License at

        https://www.apache.org/licenses/LICENSE-2.0

    Unless required by applicable law or agreed to in writing, software
    distributed under the License is distributed on an "AS IS" BASIS,
    WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
    See the License for the specific language governing permissions and
    limitations under the License.
*/ ?>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>PSPDFKit  | API Reference | PSPDFKit for React Native</title>
    <meta name="pspdf-platform" content="react-native" />
    <meta name="description" content="API documentation for the PSPDFKit for React Native plugin">
    <link rel="icon" href="img/favicon.ico" type="image/x-icon" />
    <link rel="canonical" href="https://pspdfkit.com/api/react-native/index.html" />
    <link href="https://pspdfkit.com/assets/stylesheets/fonts.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="css/components/_scaffolding.css" />
    <link rel="stylesheet" type="text/css" href="css/components/_grid.css" />
    <link rel="stylesheet" type="text/css" href="css/components/_header.css" />
    <link rel="stylesheet" type="text/css" href="css/components/_nav-sub.css" />
    <link rel="stylesheet" type="text/css" href="css/components/_main-content.css" />
    <link rel="stylesheet" type="text/css" href="css/components/_sidebar.css" />
    <link rel="stylesheet" type="text/css" href="css/components/_code.css" />
    <link rel="stylesheet" type="text/css" href="css/components/_search.css" />
    <link rel="stylesheet" type="text/css" href="css/components/_dash.css" />
    <link rel="stylesheet" type="text/css" href="css/highlight.css" />
    <script src="js/jquery.min.js" defer></script>
    <script src="vendor/bootstrap/js/bootstrap.js" defer></script>

    <script src="scripts/prettify/prettify.js"> </script>

    <script src="scripts/linenumber.js"> </script>
    <link type="text/css" rel="stylesheet" href="css/jsdoc-stock.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-jsdoc.css">
    <link type="text/css" rel="stylesheet" href="styles/prettify-tomorrow.css">
  
</head>
<body>
  <a name="" title="PSPDFKit API Reference"></a>
  <header class="header">
    <nav class="nav-bar">
      <!-- Brand -->
      <a class="nav-brand" href="/">
        <img src="img/pspdfkit.svg" alt="PSPDFKit" width="50">
      </a>
    
      <!-- Left -->
      <ul class="nav-block nav-block-first hidden-xs">
  
        <!-- Products -->
        <li class="nav-item">
          <a class="nav-link" href="/products/">
            Products
          </a>
        </li>

        <!-- Solutions -->
        <li class="nav-item">
          <a class="nav-link" href="/solutions/">
            Solutions
          </a>
        </li>
  
        <!-- Documentation -->
        <li class="nav-item active">
          <a class="nav-link" href="/developers/">
            Documentation
          </a>
        </li>
  
        <!-- Resources -->
        <li class="nav-item">
          <a class="nav-link" href="/blog/">
            Resources
          </a>
        </li>

        <!-- Pricing -->
        <li class="nav-item">
          <a class="nav-link" href="/pricing/">
            Pricing
          </a>
        </li>
      </ul>
    </nav>
  </header>
    <!-- Sub Nav -->
    <div class="nav-sub">
      <div class="container">
        <div class="d-flex justify-content-md-center justify-content-lg-start">
          <div class="mr-auto hidden-xs">
            <nav class="nav-breadcrumb breadcrumb">
              <a href="/developers/" class="breadcrumb-item">
                Developers
              </a>
              <a href="/api/react-native/" class="breadcrumb-item">
                API
              </a>
              <a href="/api/react-native/" class="breadcrumb-item">
                PSPDFKit for React Native
              </a>
            </nav>
          </div>
            <div class="ml-lg-auto d-flex">
              <ul class="nav flex-nowrap flex-row-reverse flex-sm-row align-items-center">
                <li class="nav-item">
                  <a href="/guides/react-native/" class="nav-link">
                    Guides
                  </a>
                </li>
                <li class="nav-item">
                  <a href="/api/react-native/" class="nav-link active">
                    API
                  </a>
                </li>
                <li class="nav-item border-right">
                  <a href="/changelog/react-native/" class="nav-link">
                    Changelog
                  </a>
                </li>
              </ul>
            </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-3 container-col-sidebar">
          <nav class="sidebar">
          <section class="section">
          <?js= this.nav ?>
          </section>
          </nav>
          </div>

    <div class="col-xs-12 col-md-9 container-col-content">
          <article class="main-content">
            <section class="section">
            <?js= content ?>
            </section>
          </article>
        </div>
      </div>
    </div>

<br class="clear">

<footer>
    Documentation generated by <a href="https://github.com/jsdoc/jsdoc">JSDoc <?js= env.version.number ?></a><?js if(env.conf.templates && env.conf.templates.default && env.conf.templates.default.includeDate !== false) { ?>.<?js } ?>
</footer>

<script> prettyPrint(); </script>
<script src="scripts/linenumber.js"> </script>
</body>
</html>